*.o
config.*
android/local.properties
*/Makefile
!android/Makefile
!OSX/Makefile
po/*.gmo
po/Makefile.in
po/POTFILES
po/stamp-it
Makefile
driver/xscreensaver
driver/xscreensaver-*
driver/XScreenSaver.ad
driver/xscreensaver.pam

# hacks
hacks/images/gen/
hacks/m6502.h
hacks/attraction
hacks/blitspin
hacks/bouboule
hacks/braid
hacks/decayscreen
hacks/deco
hacks/drift
hacks/flame
hacks/galaxy
hacks/grav
hacks/greynetic
hacks/halo
hacks/helix
hacks/hopalong
hacks/ifs
hacks/imsmap
hacks/julia
hacks/kaleidescope
hacks/maze
hacks/moire
hacks/noseguy
hacks/pedal
hacks/penrose
hacks/pyro
hacks/qix
hacks/rocks
hacks/rorschach
hacks/sierpinski
hacks/slidescreen
hacks/slip
hacks/strange
hacks/swirl
hacks/goop
hacks/starfish
hacks/munch
hacks/fadeplot
hacks/rd-bomb
hacks/coral
hacks/mountain
hacks/triangle
hacks/xjack
hacks/xlyap
hacks/cynosure
hacks/moire2
hacks/flow
hacks/epicycle
hacks/interference
hacks/truchet
hacks/bsod
hacks/crystal
hacks/discrete
hacks/distort
hacks/kumppa
hacks/demon
hacks/loop
hacks/penetrate
hacks/deluxe
hacks/compass
hacks/squiral
hacks/xflame
hacks/wander
hacks/spotlight
hacks/phosphor
hacks/xmatrix
hacks/petri
hacks/shadebobs
hacks/ccurve
hacks/blaster
hacks/bumps
hacks/ripples
hacks/xspirograph
hacks/nerverot
hacks/xrayswarm
hacks/zoom
hacks/whirlwindwarp
hacks/rotzoomer
hacks/speedmine
hacks/vermiculate
hacks/twang
hacks/apollonian
hacks/euler2d
hacks/polyominoes
hacks/thornbird
hacks/fluidballs
hacks/anemone
hacks/halftone
hacks/metaballs
hacks/eruption
hacks/popsquares
hacks/barcode
hacks/piecewise
hacks/cloudlife
hacks/fontglide
hacks/apple2
hacks/xanalogtv
hacks/pong
hacks/filmleader
hacks/wormhole
hacks/pacman
hacks/fuzzyflakes
hacks/anemotaxis
hacks/memscroller
hacks/substrate
hacks/intermomentary
hacks/fireworkx
hacks/fiberlamp
hacks/boxfit
hacks/interaggregate
hacks/celtic
hacks/cwaves
hacks/m6502
hacks/abstractile
hacks/lcdscrub
hacks/hexadrop
hacks/tessellimage
hacks/binaryring
hacks/glitchpeg
hacks/vfeedback
hacks/scooter
hacks/webcollage-helper
hacks/ant
hacks/bubbles
hacks/critical
hacks/flag
hacks/forest
hacks/hyperball
hacks/hypercube
hacks/laser
hacks/lightning
hacks/lisa
hacks/lissie
hacks/lmorph
hacks/rotor
hacks/sphere
hacks/spiral
hacks/t3d
hacks/vines
hacks/whirlygig
hacks/worm
hacks/xsublim
hacks/juggle
hacks/testx11

hacks/glx/xscreensaver-gl-helper
hacks/glx/cage
hacks/glx/gears
hacks/glx/moebius
hacks/glx/pipes
hacks/glx/sproingies
hacks/glx/stairs
hacks/glx/superquadrics
hacks/glx/morph3d
hacks/glx/rubik
hacks/glx/atlantis
hacks/glx/lament
hacks/glx/bubble3d
hacks/glx/glplanet
hacks/glx/pulsar
hacks/glx/sierpinski3d
hacks/glx/gflux
hacks/glx/stonerview
hacks/glx/starwars
hacks/glx/gltext
hacks/glx/molecule
hacks/glx/dangerball
hacks/glx/circuit
hacks/glx/menger
hacks/glx/engine
hacks/glx/flipscreen3d
hacks/glx/glsnake
hacks/glx/boxed
hacks/glx/sballs
hacks/glx/cubenetic
hacks/glx/spheremonics
hacks/glx/lavalite
hacks/glx/queens
hacks/glx/endgame
hacks/glx/glblur
hacks/glx/flurry
hacks/glx/atunnel
hacks/glx/flyingtoasters
hacks/glx/bouncingcow
hacks/glx/glslideshow
hacks/glx/jigglypuff
hacks/glx/klein
hacks/glx/hypertorus
hacks/glx/glmatrix
hacks/glx/cubestorm
hacks/glx/glknots
hacks/glx/blocktube
hacks/glx/flipflop
hacks/glx/antspotlight
hacks/glx/polytopes
hacks/glx/gleidescope
hacks/glx/mirrorblob
hacks/glx/blinkbox
hacks/glx/noof
hacks/glx/polyhedra
hacks/glx/antinspect
hacks/glx/providence
hacks/glx/pinion
hacks/glx/boing
hacks/glx/carousel
hacks/glx/fliptext
hacks/glx/antmaze
hacks/glx/tangram
hacks/glx/crackberg
hacks/glx/glhanoi
hacks/glx/cube21
hacks/glx/timetunnel
hacks/glx/juggler3d
hacks/glx/topblock
hacks/glx/glschool
hacks/glx/glcells
hacks/glx/voronoi
hacks/glx/moebiusgears
hacks/glx/lockward
hacks/glx/cubicgrid
hacks/glx/hypnowheel
hacks/glx/skytentacles
hacks/glx/jigsaw
hacks/glx/photopile
hacks/glx/rubikblocks
hacks/glx/surfaces
hacks/glx/hilbert
hacks/glx/companioncube
hacks/glx/tronbit
hacks/glx/kaleidocycle
hacks/glx/quasicrystal
hacks/glx/unknownpleasures
hacks/glx/geodesic
hacks/glx/geodesicgears
hacks/glx/projectiveplane
hacks/glx/winduprobot
hacks/glx/cityflow
hacks/glx/romanboy
hacks/glx/splitflap
hacks/glx/dymaxionmap
hacks/glx/unicrud
hacks/glx/energystream
hacks/glx/raverhoop
hacks/glx/hydrostat
hacks/glx/discoball
hacks/glx/cubetwist
hacks/glx/cubestack
hacks/glx/splodesic
hacks/glx/hexstrut
hacks/glx/vigilance
hacks/glx/esper
hacks/glx/razzledazzle
hacks/glx/peepers
hacks/glx/crumbler
hacks/glx/maze3d
hacks/glx/handsy
hacks/glx/gravitywell
hacks/glx/deepstars
hacks/glx/gibson
hacks/glx/etruscanvenus
hacks/glx/extrusion
hacks/glx/sonar
hacks/glx/glforestfire
hacks/glx/molecules.h
